# teaching material
*.jpg
#*.png
*.pptx
*.pdf

# Dataset
*.pt
*.npz
*.npy
*.csv
*.zip
*.txt
*.dat
Datasets
data
/Pytorch/data
/Pytorch/Datasets
/DL_advanced/DRL/DRL

# cache
.ipynb_checkpoints/
__pycache__